# Dependencias y archivos de configuración
node_modules/
beta/
.vscode/
package.json
package-lock.json
tsconfig.json
tsconfig.prod.json
.env
dockerfile
Intirko.txt
i18n-unused.config.js

# Archivos compilados y logs
logs/
comp/
/adds/langs/missing/
