# Dependencias y archivos de configuración
node_modules/
beta/
Pict/
package.json
package-lock.json
tsconfig.json
tsconfig.prod.json
.env
dockerfile
Intirko.txt

# Archivos compilados y logs
logs/
comp/
