services:
  meltryllis:
    image: nowaru124/meltryllis:latest
    stop_signal: SIGKILL
    container_name: meltryllis-bot
    restart: on-failure:2
    environment:
      - DISCORD_BOT_TOKEN=
      - OWNER_BOT_ID=
      - DEBUG_MODE=
      
      - LANGS_SUPPORTED=
      - LOCALE=
      
      - YT_RSSCHECK_TIME=
      - AUTO_CLEAN_YOUTUBE_TIMMER=
      - REDDIT_RSSCHECK_TIME=
      - REDDIT_CLIENT_ID=
      - REDDIT_CLIENT_SECRET=
      - MANGADEX_CHECK_TIMME=
      
      - STATUS_TIME_MINUTOS=
      - WELCOME_BANNER_URL=
      - PUID=
      - PGID=
      - TZ=
    # DB configs 
      - DB_HOST=
      - DB_USER=
      - DB_PASSWORD=
      - DB_DATABASE=
    # Dominios de remplazo local
      - BILILI_FIX_URL=
      - BSKY_FIX_URL=
      - DEVIAN_FIX_URL=
      - FACEBOOK_FIX_URL=
      - FURAFF_FIX_URL=
      - IMGUR_FIX_URL=
      - INSTAGRAM_FIX_URL=
      - IWARA_FIX_URL=
      - PIXIV_FIX_URL=
      - REDDIT_FIX_URL=
      - THRENDS_FIX_URL=
      - TIKTOK_FIX_URL=
      - TUMBLR_FIX_URL=
      - TWITTER_FIX_URL=
      - TWITCH_FIX_URL=
      - YOUTUBE_FIX_URL=
    #Sitios soportados por Embedez - https://embedez.com/api
      - EMBEDEZ_API_FIX_URL=
      - EMBEDEZ_SFW=tiktok.com|reddit.com|ifunny.co|snapchat.com|imgur.com|pinterest.com
      - EMBEDEZ_NSFW=danbooru.donmai.us|derpibooru.org|e621.net|e926.net|gelbooru.com|rule34.xxx|safebooru.org|hypnohub.net|konachan.com|yande.re|rule34.paheal.net|xbooru.com|tbib.org
      
      - BOT_STATUS=
    #Lavalink configs  
      - LAVALINK_NAME=
      - LAVALINK_HOST=
      - LAVALINK_PORT=
      - LAVALINK_PASSWORD=

    depends_on:
      - mariadb
# Descomenta "- lavalink" si vas a hostear tu propio server lavalink 
#     - lavalink  

    volumes:
      - meltryllis_data/logs:/app/logs

  mariadb:
    image: mariadb:latest
    restart: unless-stopped
    container_name: meltryllis-bd
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_USER=
      - MYSQL_PASSWORD=
      - MYSQL_DATABASE=
      - PGID=
      - PUID=
    volumes:
      - meltryllis_data/db:/var/lib/mysql

############## Si buscas hostear tu propio server lavalink descomenta esto ##############
#  lavalink:
#    image: ghcr.io/lavalink-devs/lavalink:4-alpine
#    restart: unless-stopped
#    container_name: meltryllis-lavalink
#    ports:
#      - 2333:2333
#    environment:
#      - LAVALINK_SERVER_PASSWORD=
#    volumes:
#      - meltryllis_data/lavalink/data:/data
#      - ./application.yml:/opt/Lavalink/application.yml

volumes:
  meltryllis_data:
